.env
data/
__pycache__/
src/mtgbot/notifications/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.log
*.png
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
poetry.lock
*.sqlite3
*.db
*.bak
*.swp
*.swo
